# changes file
*.changes
*.chg

# system image
*.image
*.img7
*.img

# Pharo Smalltalk Debug log file
PharoDebug.log

# Squeak Smalltalk Debug log file
SqueakDebug.log

# Dolphin Smalltalk source file
*.sml

# Dolphin Smalltalk error file
*.errors

# playground cache
/play-cache
/play-stash

# Metacello-github cache
/github-cache
github-*.zip

/pacman-cache
/pikaur-cache
/my_config
/log
